<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-tab">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Main Page</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="md-contacts"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon name="md-cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" *ngIf="(isLoggedIn | async)">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="login" *ngIf="!(isLoggedIn | async)">
      <ion-icon name="md-image"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>